
.lux-room-list{
 display: flex;
 gap: 20px;
 padding-top: 20px;
 padding-bottom: 32px;
}
/* для мобільника */
.item-thumb {
    display: flex;
    gap: 19px;
    margin-top: 20px;
}

.item-thumb:nth-child(){
    display: inline-block;
    width: 158px;
    height: 149px;
    padding: 0;
}
/* для мобільника */
@media screen and (min-width:768px) {
    .lux-room-list{
        display: flex;
        flex-direction: column;
        width: 341px;
        align-items: flex-end;
        gap: 32px;
       }
 }
@media screen and (min-width:1200px) {
    .lux-room-list{
        display: flex;
        align-content: space-between;
       }
}
@media screen and (min-width:768px) {
   .mb-img-lux{
    margin-left: 373px;
    position: absolute;
    top: 4.5%;
   }
}
.double-room-title{
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: calc(30p / 32);
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
@media screen and (min-width:768px) {
    .rooms-title{
        width: 440px;
        height: 45px;
        }
 }
.rooms-paragraph-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom:28px ;
}
@media screen and (min-width:768px) {
    .rooms-paragraph-list{
        display: flex;
        flex-direction: row;
        gap: 32px;
        margin-bottom: 40px;
    }
 }
 .rooms-paragraph-one{
font-size: 14px;
line-height: 1.3;
text-transform: uppercase;  
}
@media screen and (min-width:768px) {
    .rooms-paragraph-one{
        font-size: 18px;
        line-height: 1.5;
        width: 369px;
    }
}    
.rooms-paragraph-two{
font-size: 14px;
line-height: 1.3;
text-transform: uppercase;
}
@media screen and (min-width:768px) {
    .rooms-paragraph-two{
        font-size: 18px;
        line-height: 1.5;
        width: 300px;
    }
}
.rooms-btn-list{
    display: flex;
    gap: 12px;
}
@media screen and (min-width:768px) {
    .rooms-btn-list{
        flex-direction: row-reverse;
    }
}
.double-room-btn{
  letter-spacing: -0.02em;
  line-height: 1.28;
}
@media screen and (min-width: 768px) {
    .double-room-list {
      gap: 32px;
      margin-bottom: 40px;
    }
  
    .double-room-item:first-child {
      grid-column: 2/3;
      grid-row: 1/3;
    }
  
    .double-room-item:nth-child(2) {
      display: grid;
      justify-items: end;
      grid-column: 1/2;
      grid-row: 1/2;
    }
  
    .double-room-item:last-child {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .double-room-title {
      font-size: 40px;
    }
    .double-room-paragraph {
      max-width: 490px;
      margin-bottom: 40px;
      font-weight: 400;
      font-size: 18px;
      line-height: calc(24 / 18);
    }
    .double-room-btn-list {
      justify-content: flex-end;
    }
    .double-room-btn {
      line-height: 1.71;
    }
  }
  @media screen and (min-width: 1440px) {
    .double-room-list {
      grid-template-columns: auto, auto auto;
      grid-template-rows: auto;
      align-items: center;
      margin-bottom: 50px;
    }
  
    .double-room-item:first-child {
      grid-column: 2/3;
      grid-row: 1/2;
    }
  
    .double-room-item:nth-child(2) {
      grid-column: 3/4;
      grid-row: 1/2;
    }
  
    .double-room-item:last-child {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .double-room-title {
      margin-bottom: 40px;
    }
    .double-room-thumb {
      display: flex;
      justify-content: space-between;
    }
  }