.hotel-hero{
    padding-top: 40px;
    padding-bottom: 64px;
}

.hotel-hero-title{
    margin-bottom: 24px;   
}

.hotel-hero-btn-list{
    display: flex;
    gap: 12px;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px){
    .hotel-hero-title{
        margin-bottom: 32px;
    }
}
.h-h-main{
    overflow: hidden;
}
.list-hero-hotel{
    
    display: flex;
    gap: 20px;
}

.slider-hotel-hero{
    min-width: 250px;
    min-height: 429px;
}

.hotel-hero-text{
    font-size: 14px;
line-height: 1.3;
letter-spacing: 0.05em;
width: 338px;
margin-top: 40px;
}

.hotel-hero-text-italic{
    font-style: italic;
}
 @media screen and (min-width: 768px){
     .img-hero-hotel img{
        width: 436px;
        height: 548px;
    } 

    .slider-hotel-hero{
        min-width: 436px;
        min-height: 548px;
    } 
    .list-hero-hotel{
        gap: 32px;
    }
  
 }

 @media screen and (min-width: 1440px){
    .hotel-hero{
     padding-top: 0;
        
    }
    .h-h-main{
        position: relative;
    }
    .list-hero-hotel{
        height: 580px;
   position: absolute;
   top: 107px;
   left: 705px;      
    }

    .hotel-hero-title{
        padding-top: 281px;
    }

    .img-hero-hotel img{
        width: 436px;
        height: 580px;
    } 
    
    .hotel-hero-text{
        margin-top: 204px;
        padding-bottom: 48px;
    }
 }


