<section class="section about-kitchen-section">
  <div class="container">
    <h2 class="visually-hidden">About a kitchen</h2>
    <ul class="about-kitchen-img-flex">
      <li>
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/restaurant/about-kitchen/desktop/image3_lg@1x.jpg1x,
              ./img/restaurant/about-kitchen/desktop/image3_lg@2x.jpg   2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/restaurant/about-kitchen/tablet/image3_md@1x.jpg 1x,
              ./img/restaurant/about-kitchen/tablet/image3_md@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/restaurant/about-kitchen/mobile/image3_sm@1x.jpg 1x,
              ./img/restaurant/about-kitchen/mobile/image3_sm@2x.jpg 2x
            "
          />
          <img
            src="./img/restaurant/about-kitchen/mobile/image3_sm@1x.jpg"
            width="335"
            height="443"
            alt="cooking meet"
            loading="lazy"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/restaurant/about-kitchen/desktop/image1_lg@1x.jpg1x,
              ./img/restaurant/about-kitchen/desktop/image1_lg@2x.jpg   2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/restaurant/about-kitchen/tablet/image1_md@1x.jpg 1x,
              ./img/restaurant/about-kitchen/tablet/image1_md@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/restaurant/about-kitchen/mobile/image1_sm@1x.jpg 1x,
              ./img/restaurant/about-kitchen/mobile/image1_sm@2x.jpg 2x
            "
          />
          <img
            src="./img/restaurant/about-kitchen/mobile/image1_sm@1x.jpg"
            width="158"
            height="149"
            alt="meat"
            loading="lazy"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/restaurant/about-kitchen/desktop/image2_lg@1x.jpg 1x,
              ./img/restaurant/about-kitchen/desktop/image2_lg@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/restaurant/about-kitchen/tablet/image2_md@1x.jpg 1x,
              ./img/restaurant/about-kitchen/tablet/image2_md@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/restaurant/about-kitchen/mobile/image2_sm@1x.jpg 1x,
              ./img/restaurant/about-kitchen/mobile/image2_sm@2x.jpg 2x
            "
          />
          <img
            src="./img/restaurant/about-kitchen/mobile/image2_sm@1x.jpg"
            width="157"
            height="149"
            alt="expert seasoning"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
    <ul class="about-kitchen-text-flex">
      <li>
        <p class="paragraph about-kitchen-paragraph">
          At Mimino, we are experts in
          <span class="about-kitchen-paragraph-italic">meat preparation.</span>
          Our chefs use only the finest and freshest ingredients to
          <span class="about-kitchen-paragraph-italic"
            >create delicious dishes</span
          >
          that showcase the flavors of premium cuts of meat.
        </p>
      </li>
      <li>
        <p class="paragraph about-kitchen-paragraph">
          Our
          <span class="about-kitchen-paragraph-italic"
            >slow-cooking process</span
          >
          and expert seasoning bring out the best in each dish, making for an
          unforgettable dining experience. Come taste the magic of
          <span class="about-kitchen-paragraph-italic"
            >meat preparation at</span
          >
          Mimino.
        </p>
      </li>
    </ul>
  </div>
</section>
