<section class="restaurant-hero">
  <div class="container restaurant-hero-container">
    <h1 class="title restaurant-hero-title">Restaurant</h1>
    <ul class="restaurant-hero-btn-list">
      <li>
        <button class="btn btn-dark" type="button">book a table</button></li>
      <li>
        <button class="btn btn-dark" type="button">View a menu</button></li>
    </ul>
    <ul class="restaurant-hero-img-list">
      <li>
        <picture >
          <source
            srcset="
              img/restaurant/about/desktop/image_lg@1x-3.jpg 1x,
              img/restaurant/about/desktop/image_lg@2x-3.jpg 2x
            "
            media="(min-width:1440px)"
          />

          <source
            srcset="
              img/restaurant/about/tablet/image_md@1x-3.jpg 1x,
              img/restaurant/about/tablet/image_md@2x-3.jpg 2x
            "
            media="(min-width:768px)"
          />

          <source
            srcset="./img/restaurant/about/mobile/image1_sm@2x.jpg 2x"
            media="(max-width:767px)"
          />
          <img
            src="./img/restaurant/about/mobile/image1_sm@1x.jpg"
            alt="Restaurant photo 1"
            width="436"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="restaurant-hero-list-img-item">
        <picture >
            <source
            srcset="
              img/restaurant/about/desktop/image_lg@1x-4.jpg 1x,
              img/restaurant/about/desktop/image_lg@2x-4.jpg 2x
            "
            media="(min-width:1440px)"
          />

          <source
            srcset="
              img/restaurant/about/tablet/image_md@1x-4.jpg 1x,
              img/restaurant/about/tablet/image_md@2x-4.jpg 2x
            "
            media="(min-width:768px)"
          />
              <source
            srcset="./img/restaurant/about/mobile/image2_sm@2x.jpg 2x"
            media="(max-width:767px)"
          />
          <img
            src="./img/restaurant/about/mobile/image2_sm@1x.jpg"
            alt="Restaurant photo 1"
            width="436"
            loading="lazy"
          />
        </picture>
      </li>
      <!-- <li>
        <picture>
              <source
            srcset="./img/restaurant/about/mobile/image3_sm@2x.jpg 2x"
            media="(max-width:767px)"
          />
          <img
            src="./img/restaurant/about/mobile/image3_sm@1x.jpg"
            alt="Restaurant photo 1"
            width="436"
            loading="lazy"
          />
        </picture>
      </li>
      <li>
        <picture>
              <source
            srcset="./img/restaurant/about/mobile/image4_sm@2x.jpg 2x"
            media="(max-width:767px)"
          />
          <img
            src="./img/restaurant/about/mobile/image4_sm@1x.jpg"
            alt="Restaurant photo 1"
            width="436"
            loading="lazy"
          />
        </picture>
      </li>
      <li>
        <picture>
              <source
            srcset="./img/restaurant/about/mobile/image5_sm@2x.jpg 2x"
            media="(max-width:767px)"
          />
          <img
            src="./img/restaurant/about/mobile/image5_sm@1x.jpg"
            alt="Restaurant photo 1"
            width="436"
            loading="lazy"
          />
        </picture>
      </li>
      <li>
        <picture>
              <source
            srcset="./img/restaurant/about/mobile/image6_sm@2x.jpg 2x"
            media="(max-width:767px)"
          />
          <img
            src="./img/restaurant/about/mobile/image6_sm@1x.jpg"
            alt="Restaurant photo 1"
            width="436"
            loading="lazy"
          />
        </picture>
      </li> -->
    </ul>
    <p class="paragraph rest-hero-text">Whether you're in the mood for a hearty breakfast, a light lunch,<span class="rest-hero-text-italic">or a romantic dinner</span> our menu has something for everyone.</p>
  </div>
</section>
