<section class="rest-menu-section">
  <div class="rest-menu-container container">
    <h2 class="rest-menu-title title">RESTAURANT MENU</h2>
    <h3 class="rest-menu-subtitle subtitle">Hot meals</h3>
    <ul class="rest-menu-list">
      <li class="rest-menu-item">
        <div class="rest-menu-dish-wrapper">
          <b class="rest-menu-dish">Veal borscht with beans</b>
          <p class="rest-menu-descr">
            Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes,
            greens, sour cream
          </p>
        </div>
        <div class="rest-menu-price-wrapper">
          <p class="rest-menu-weight">400 g</p>
          <p class="rest-menu-price">240 UAH</p>
        </div>
      </li>
      <li class="rest-menu-item">
        <div class="rest-menu-dish-wrapper">
          <b class="rest-menu-dish">Cheese soup with chicken</b>
          <p class="rest-menu-descr">
            Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens
          </p>
        </div>
        <div class="rest-menu-price-wrapper">
          <p class="rest-menu-weight">400 g</p>
          <p class="rest-menu-price">200 UAH</p>
        </div>
      </li>
      <li class="rest-menu-item">
        <div class="rest-menu-dish-wrapper">
          <b class="rest-menu-dish">Carbonara pasta</b>
          <p class="rest-menu-descr">
            Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens
          </p>
        </div>
        <div class="rest-menu-price-wrapper">
          <p class="rest-menu-weight">400 g</p>
          <p class="rest-menu-price">430 UAH</p>
        </div>
      </li>
      <li class="rest-menu-item">
        <div class="rest-menu-dish-wrapper">
          <b class="rest-menu-dish">Pork steak</b>
          <p class="rest-menu-descr">
            Pork tenderloin, spices, served with sweet chili sauce and
            vegetables
          </p>
        </div>
        <div class="rest-menu-price-wrapper">
          <p class="rest-menu-weight">400 g</p>
          <p class="rest-menu-price">500 UAH</p>
        </div>
      </li>
      <li class="rest-menu-item">
        <div class="rest-menu-dish-wrapper">
          <b class="rest-menu-dish">Gorbusha in white wine sauce</b>
          <p class="rest-menu-descr">
            Tender redfish, cream sauce based on white wine
          </p>
        </div>
        <div class="rest-menu-price-wrapper">
          <p class="rest-menu-weight">400 g</p>
          <p class="rest-menu-price">400 UAH</p>
        </div>
      </li>
    </ul>

    <button class="rest-menu-slide-btn btn"></button>

    <button class="rest-menu-slide btn" type="button">book a table</button>
  </div>
</section>
