<section class="rest-menu-section section">
  <div class="rest-menu-container container">
    <h2 class="rest-menu-title title">RESTAURANT MENU</h2>

    <ul class="rest-menu-common-list">
      <li class="rest-menu-common-item">
        <!-- <div class="rest-menu-thumb"> -->
        <h3 class="rest-menu-subtitle subtitle">Hot meals</h3>
        <ul class="rest-menu-list">
          <li class="rest-menu-item">
            <div class="rest-menu-dish-wrapper">
              <b class="rest-menu-dish">Veal borscht with beans</b>
              <p class="rest-menu-descr">
                Veal, potatoes, cabbage, carrots, onions, beans, garlic,
                tomatoes, greens, sour cream
              </p>
            </div>
            <div class="rest-menu-price-wrapper">
              <p class="rest-menu-weight">400 g</p>
              <p class="rest-menu-price">240 UAH</p>
            </div>
          </li>
          <li class="rest-menu-item">
            <div class="rest-menu-dish-wrapper">
              <b class="rest-menu-dish">Cheese soup with chicken</b>
              <p class="rest-menu-descr">
                Chicken, potatoes, carrots, onions, mushrooms, soft cheese,
                greens
              </p>
            </div>
            <div class="rest-menu-price-wrapper">
              <p class="rest-menu-weight">400 g</p>
              <p class="rest-menu-price">200 UAH</p>
            </div>
          </li>
          <li class="rest-menu-item">
            <div class="rest-menu-dish-wrapper">
              <b class="rest-menu-dish">Carbonara pasta</b>
              <p class="rest-menu-descr">
                Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens
              </p>
            </div>
            <div class="rest-menu-price-wrapper">
              <p class="rest-menu-weight">400 g</p>
              <p class="rest-menu-price">430 UAH</p>
            </div>
          </li>
          <li class="rest-menu-item">
            <div class="rest-menu-dish-wrapper">
              <b class="rest-menu-dish">Pork steak</b>
              <p class="rest-menu-descr">
                Pork tenderloin, spices, served with sweet chili sauce and
                vegetables
              </p>
            </div>
            <div class="rest-menu-price-wrapper">
              <p class="rest-menu-weight">400 g</p>
              <p class="rest-menu-price">500 UAH</p>
            </div>
          </li>
          <li class="rest-menu-item">
            <div class="rest-menu-dish-wrapper">
              <b class="rest-menu-dish">Gorbusha in white wine sauce</b>
              <p class="rest-menu-descr">
                Tender redfish, cream sauce based on white wine
              </p>
            </div>
            <div class="rest-menu-price-wrapper">
              <p class="rest-menu-weight">400 g</p>
              <p class="rest-menu-price">400 UAH</p>
            </div>
          </li>
        </ul>
        <!-- </div> -->
      </li>
      <li class="rest-menu-common-item">
        <!-- <div class="rest-menu-thumb"> -->
        <h3 class="rest-menu-subtitle subtitle">Side dishes and snacks</h3>
        <ul class="rest-menu-list">
          <li class="rest-menu-item">
            <div class="rest-menu-dish-wrapper">
              <b class="rest-menu-dish">Baked vegetables</b>
              <p class="rest-menu-descr">Zucchini, pepper, tomato, eggplant</p>
            </div>
            <div class="rest-menu-price-wrapper">
              <p class="rest-menu-weight">200 g</p>
              <p class="rest-menu-price">230 UAH</p>
            </div>
          </li>
          <li class="rest-menu-item">
            <div class="rest-menu-dish-wrapper">
              <b class="rest-menu-dish">French fries</b>
              <p class="rest-menu-descr">Potatoes, tomato sauce</p>
            </div>
            <div class="rest-menu-price-wrapper">
              <p class="rest-menu-weight">150 g</p>
              <p class="rest-menu-price">160 UAH</p>
            </div>
          </li>
          <li class="rest-menu-item">
            <div class="rest-menu-dish-wrapper">
              <b class="rest-menu-dish">Peasant-style potatoes</b>
              <p class="rest-menu-descr">Potatoes, spices, spicy sauces</p>
            </div>
            <div class="rest-menu-price-wrapper">
              <p class="rest-menu-weight">150 g</p>
              <p class="rest-menu-price">160 UAH</p>
            </div>
          </li>
          <li class="rest-menu-item">
            <div class="rest-menu-dish-wrapper">
              <b class="rest-menu-dish">Crisp pickles from the barrel</b>
              <p class="rest-menu-descr">
                Salted cucumber, pickled tomato, sauerkraut, Korean carrot
              </p>
            </div>
            <div class="rest-menu-price-wrapper">
              <p class="rest-menu-weight">250 g</p>
              <p class="rest-menu-price">350 UAH</p>
            </div>
          </li>
          <li class="rest-menu-item">
            <div class="rest-menu-dish-wrapper">
              <b class="rest-menu-dish">Chicken wings in honey sauce</b>
              <p class="rest-menu-descr">
                Chicken wings, mustard-honey sauce, served with carrots, celery
                and blue cheese sauce
              </p>
            </div>
            <div class="rest-menu-price-wrapper">
              <p class="rest-menu-weight">400 g</p>
              <p class="rest-menu-price">350 UAH</p>
            </div>
          </li>
        </ul>
        <!-- </div> -->
      </li>
      <li class="rest-menu-common-item">
        <!-- <div class="rest-menu-thumb"> -->
        <h3 class="rest-menu-subtitle subtitle">Salads</h3>
        <ul class="rest-menu-list">
          <li class="rest-menu-item">
            <div class="rest-menu-dish-wrapper">
              <b class="rest-menu-dish">Caesar with chicken</b>
              <p class="rest-menu-descr">
                Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese,
                croutons, Caesar sauce
              </p>
            </div>
            <div class="rest-menu-price-wrapper">
              <p class="rest-menu-weight">230 g</p>
              <p class="rest-menu-price">450 UAH</p>
            </div>
          </li>
          <li class="rest-menu-item">
            <div class="rest-menu-dish-wrapper">
              <b class="rest-menu-dish">Caesar with shrimp</b>
              <p class="rest-menu-descr">
                Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese,
                croutons, caesar sauce
              </p>
            </div>
            <div class="rest-menu-price-wrapper">
              <p class="rest-menu-weight">230 g</p>
              <p class="rest-menu-price">300 UAH</p>
            </div>
          </li>
          <li class="rest-menu-item">
            <div class="rest-menu-dish-wrapper">
              <b class="rest-menu-dish">Greek salad</b>
              <p class="rest-menu-descr">
                Fresh cucumber, tomato, bell pepper, olives, brynza cheese,
                lettuce, sauce
              </p>
            </div>
            <div class="rest-menu-price-wrapper">
              <p class="rest-menu-weight">230 g</p>
              <p class="rest-menu-price">280 UAH</p>
            </div>
          </li>
          <li class="rest-menu-item">
            <div class="rest-menu-dish-wrapper">
              <b class="rest-menu-dish">Meat salad</b>
              <p class="rest-menu-descr">
                Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell
                pepper, ranch sauce
              </p>
            </div>
            <div class="rest-menu-price-wrapper">
              <p class="rest-menu-weight">230 g</p>
              <p class="rest-menu-price">300 UAH</p>
            </div>
          </li>
        </ul>
        <!-- </div> -->
      </li>
      <li class="rest-menu-common-item">
        <ul class="rest-menu-drinks-list">
          <li class="rest-menu-drinks-item">
            <!-- <div class="rest-menu-thumb"> -->
            <h3 class="rest-menu-subtitle subtitle">Desserts</h3>
            <ul class="rest-menu-list">
              <li class="rest-menu-item">
                <div class="rest-menu-dish-wrapper">
                  <b class="rest-menu-dish">Napoleon cake</b>
                </div>
                <div class="rest-menu-price-wrapper">
                  <p class="rest-menu-price">200 UAH</p>
                </div>
              </li>
              <li class="rest-menu-item">
                <div class="rest-menu-dish-wrapper">
                  <b class="rest-menu-dish">Poppy cake</b>
                </div>
                <div class="rest-menu-price-wrapper">
                  <p class="rest-menu-price">300 UAH</p>
                </div>
              </li>
              <li class="rest-menu-item">
                <div class="rest-menu-dish-wrapper">
                  <b class="rest-menu-dish">Tiramisu</b>
                </div>
                <div class="rest-menu-price-wrapper">
                  <p class="rest-menu-price">260 UAH</p>
                </div>
              </li>
            </ul>
            <!-- </div> -->
          </li>
          <li class="rest-menu-drinks-item">
            <!-- <div class="rest-menu-thumb"> -->
            <h3 class="rest-menu-subtitle subtitle">Drinks</h3>
            <ul class="rest-menu-list">
              <li class="rest-menu-item">
                <div class="rest-menu-dish-wrapper">
                  <b class="rest-menu-dish">Black/green tea</b>
                </div>
                <div class="rest-menu-price-wrapper">
                  <p class="rest-menu-price">100 UAH</p>
                </div>
              </li>
              <li class="rest-menu-item">
                <div class="rest-menu-dish-wrapper">
                  <b class="rest-menu-dish">Espresso</b>
                </div>
                <div class="rest-menu-price-wrapper">
                  <p class="rest-menu-price">100 UAH</p>
                </div>
              </li>
              <li class="rest-menu-item">
                <div class="rest-menu-dish-wrapper">
                  <b class="rest-menu-dish">Cappuccino</b>
                </div>
                <div class="rest-menu-price-wrapper">
                  <p class="rest-menu-price">100 UAH</p>
                </div>
              </li>
            </ul>
            <!-- </div> -->
          </li>
        </ul>
      </li>
    </ul>

    <button class="rest-menu-slide-btn btn"></button>

    <button class="rest-menu-btn btn" type="button">book a table</button>
  </div>
</section>
