.footer-page{
    display: flex;
    justify-content: space-between;
    
    padding-top: 24px;
}

.name-logo{
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.18em;


color: #121212;
}

.text-logo{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 1.25;
letter-spacing: 0.18em;

color: #121212;
}

.media-list{
    display: flex;
    gap: 14px;
}

.logotip{
    width: 155px;
}
.logo{
    display: inline-block;
    width: 100%;
}

.socials-icon{
    fill-opacity: 0;
   stroke: #121212;
   stroke-width: 1.3px;
}

.line-footer{
  border-top: 0.5px solid rgba(18, 18, 18, 0.3);
    width: 100%;
    margin-top: 32px;
    padding-bottom: 32px;
}

/*desktop*/
.list-footer {
    display: flex;
    gap: 32px;
}

.link-footer{
font-weight: 400;
font-size: 14px;
line-height: 1.3;
letter-spacing: 0.05em;
}



@media screen and (max-width:1439px){
    .nav-footer{
        display: none;
    }
}

@media screen and (min-width: 1440px){
    .logo{
        text-align: center;
    }
}