#nav-rest::after {
    display: block;
    background-color: var(--main-dark-theme);
}

.header-section {
    background: var(--main-white-color);
    border-bottom: 0.5px solid rgba(18, 18, 18, 0.3);   
  }

  .site-nav-link {
    color: var(--main-dark-theme);
  }

  .header-logo {
    color: var(--main-dark-theme);
  }

  .social-icon {
    stroke: var(--main-dark-theme);
  }

  .menu-toggle {
    background-image: url(/img/svg/menu-mob-b.svg);
  }

  @media (min-width: 768px) {
    .menu-toggle {
        background-image: url(/img/svg/menu-tab-b.svg);
    }
  }