.header-section {
  position: sticky;
  top: 0;
  z-index: var(--header-index);
  width: 100%;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
}
.header-dark {
  background-color: var(--main-dark-theme);
  border-bottom-color: rgba(247, 247, 247, 0.2);
}
@media only screen and (min-width: 1440px) {
  .header-dark {
    position: fixed;
    background-color: transparent;
  }
}
.header-light {
  background-color: var(--main-white-color);
  border-bottom-color: rgba(18, 18, 18, 0.3);
}
.header-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  gap: 32px;
}
.site-nav-light {
  color: var(--main-light-theme);
}
.site-nav-dark {
  color: var(--main-dark-theme);
}
.site-nav-link {
  position: relative;
  padding: 27px 0;
  color: currentColor;
  text-transform: uppercase;
}
.site-nav-link.current::after {
  content: '';
  position: absolute;
  top: 47px;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  width: 4px;
  height: 4px;

  background-color: currentColor;
  border-radius: 50%;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 20px;
}
.header-logo-light {
  color: var(--main-light-theme);
}
.header-logo-dark {
  color: var(--main-dark-theme);
}

@media only screen and (max-width: 767px) {
  .social-nav {
    display: none;
  }
}
.social-nav-light {
  color: var(--main-light-theme);
}
.social-nav-dark {
  color: var(--main-dark-theme);
}
.social-items {
  display: flex;
  gap: 14px;
  margin-left: 157px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}
.social-icon {
  fill: none;
  stroke: currentColor;
}

.menu-toggle {
  order: -1;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;
  padding: 0;
  margin-right: 83px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    width: 32px;
    height: 32px;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1440px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle-light {
  color: var(--main-light-theme);
}
.menu-toggle-dark {
  color: var(--main-dark-theme);
}
.menu-toggle-icon {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1439px) {
  .header-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-logo-icon {
    width: 149px;
    height: 38px;
  }
  .mobile-menu {
    padding-top: 240px;
  }
}

@media screen and (min-width: 1440px) {
  .social-items {
    gap: 16px;
    margin-left: 504px;
  }
  .header-logo {
    margin-left: auto;
  }
}
