.hotel-details-container {
    position: relative;   
    background-color: var(--main-dark-theme);
}

.hotel-details-section {
  background-color: var(--main-dark-theme);
}

.title-hotel-details {
  color: var(--main-light-theme);
}

@media screen and (max-width: 767px) {
    .title-hotel-details {
      margin-bottom: 32px;
}
}

@media screen and (min-width: 768px) {
    .title-hotel-details {
        margin-bottom: 80px;
    }
}

.text-hotel-details {
    text-align: left;
    margin-bottom: 32px;
    font-weight: 500;
    color: var(--main-light-theme);
}

.swiper-hotel {
    width: 100%;
    height: 607px;
    margin-left: auto;
    margin-right: auto;
    /* margin: 20px auto; */
}

.swiper-wrapper.images-hotel-details-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 82px;
}

.swiper-slide.hotel-card {
    text-align: center;
    background: transparant;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide .hotel-image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.btns-hotel-details .btn:not(:last-child) {
    margin-right: 12px;
}

@media screen and (min-width: 768px) {
    .title-hotel-details {
        margin-bottom: 80px;
    }

    .text-hotel-details {
        width: 362px;
    }
}
   
 .btns-hotel-details {
       display: flex;
       justify-content: center;
    }

 @media screen and (min-width: 768px) {
    .hotel-details-description {
        display: flex;
        gap: 32px;
    }
    
 }   
 @media screen and (min-width: 1440px){
    .btns-hotel-details {
        position: absolute;
        top: 0;
        right: 0;
    }
 }