<footer class="footer section">
  <div class="container footer-page">
    <div class="nav-footer">
      <nav class="">
        <ul class="list-footer list">
          <li class="footer-items">
            <a class="link-footer link" href="./index.html">HOME</a>
          </li>
          <li>
            <a class="link-footer link" href="./hotel.html">HOTEL</a>
          </li>
          <li>
            <a class="link-footer link" href="./restaurant.html">RESTAURANT</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="logotip">
      <a class="logo-footer" href="./index.html">
        <span class="name-logo">MIMINO</span>
        <span class="text-logo">restaurant-hotel complex</span>
      </a>
    </div>

    <div>
      <ul class="media-list list">
        <li class="media-item">
          <a
            class="link"
            href="https://www.instagram.com"
            aria-label="Instagram"
            target="_blank"
            rel="noopener norefrrer"
          >
            <svg class="socials-icon" width="20" height="20">
              <use href="/img/svg/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="media-item">
          <a
            class="link"
            href="https://www.facebook.com"
            aria-label="Facebook"
            target="_blank"
            rel="noopener norefrrer"
          >
            <svg class="socials-icon" width="20" height="20">
              <use href="/img/svg/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="media-item">
          <a
            class="link"
            href="https://twitter.com"
            aria-label="Twitter"
            target="_blank"
            rel="noopener norefrrer"
          >
            <svg class="socials-icon" width="20" height="20">
              <use href="/img/svg/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="line-footer"></div>
</footer>
