<div class="container footer-page">
    <div class="logotip">
        <a class="logo" href="">
            <span class="name-logo">MIMINO</span>
            <span class="text-logo">RESTAURANT-HOTEL COMPLEX</span>
        </a>
    </div>
        
    
    <div>
        <ul class="media-list list">
            <li class="media-item">
                <a class="link" href="https://www.instagram.com" aria-label="Instagram" target="_blank"
                rel="noopener norefrrer">
                    <svg class="socials-icon"  width="20" height="20">
                        <use href="../img/svg/symbol.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="media-item">
                <a class="link" href="https://www.facebook.com" aria-label="Facebook" target="_blank"
                rel="noopener norefrrer">
                    <svg class="socials-icon" width="20" height="20">
                        <use href="../img/svg/symbol.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="media-item">
                <a class="link" href="https://twitter.com" aria-label="Twitter" target="_blank"
                rel="noopener norefrrer">
                    <svg class="socials-icon" width="20" height="20">
                        <use href="../img/svg/symbol.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    
</div>