<header class="section header-section">
  <div class="container header-container">
    <nav class="header-nav">
      <ul class="site-nav">
        <a class="site-nav-link curent" href="./index.html">Home</a>
      </ul>
      <ul>
        <a class="site-nav-link" href="./hotel.html">Hotel</a>
      </ul>
      <ul>
        <a class="site-nav-link" href="./restaurant.html">Restaurant</a>
      </ul>
    </nav>
    <a href="./index.html" class="logo"
      >MIMINO
      <span class="logo-txt">restaurant-hotel complex</span>
    </a>
    <nav class="social-nav">
      <ul class="social-icons">
        <li>
          <a
            class="social-link"
            href="https://www.instagram.com"
            aria-label="instagram"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="social-icon">
              <use href="./img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="social-link"
            href="https://www.facebook.com"
            aria-label="facebook"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="social-icon">
              <use href="./img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="social-link"
            href="https://twitter.com"
            aria-label="twitter"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="social-icon">
              <use href="./img/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="28" height="28" stroke="currentColor">
        <use class="menu-icon" href="//menu.svg"></use>
      </svg>
    </button>
    
  </div>
</header>
