<header class="section header-section">
  <div class="container header-container">
    <nav class="header-nav">
      <ul class="site-nav">
        <li><a class="site-nav-link curent" href="./index.html">Home</a></li>
        <li><a class="site-nav-link" href="./hotel.html">Hotel</a></li>
        <li>
          <a class="site-nav-link" href="./restaurant.html">Restaurant</a>
        </li>
        <li>
          <a class="site-nav-link" href="./room.html">Room</a>
        </li>
      </ul>
    </nav>
    <a href="./index.html" class="header-logo"
      >MIMINO
      <span class="logo-txt">restaurant-hotel complex</span>
    </a>
    <nav class="social-nav">
      <ul class="social-items">
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.instagram.com"
            aria-label="instagram"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="social-icon">
              <use href="/img/svg/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.facebook.com"
            aria-label="facebook"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="social-icon">
              <use href="/img/svg/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href="https://twitter.com"
            aria-label="twitter"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="social-icon">
              <use href="/img/svg/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
    </button>
  </div>
</header>
