<header class="section">
  <div class="container">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas similique
      quae voluptates recusandae delectus temporibus nobis ea eligendi
      provident. Debitis ab sint quibusdam consectetur ipsa! Illo blanditiis
      aspernatur a magnam animi libero quaerat quae, repudiandae in itaque
      nesciunt quam quas temporibus quidem, necessitatibus rem ducimus neque
      voluptatibus. Asperiores, magnam perferendis.
    </p>
  </div>
</header>
