<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="modal-close js-close-menu"></button>
  <a class="header-logo {=$logo-theme}" href="./index.html">
    <svg width="112" height="38">
      <use href="img/svg/icons.svg#icon-logo"></use>
    </svg>
  </a>
  <ul class="mobile-menu">
    <li>
      <a class="link" href="./index.html">Home</a>
    </li>
    <li>
      <a class="link" href="./hotel.html">Hotel</a>
    </li>
    <li>
      <a class="link" href="./restaurant.html">Restaurant</a>
    </li>
    <li>
      <a class="link" href="./room.html">Room</a>
    </li>
  </ul>
  <nav class="menu-socials">
    <ul class="menu-socials-list">
      <li class="menu-socials-item">
        <a
          class="menu-socials-link"
          href="https://www.instagram.com"
          aria-label="instagram"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="menu-socials-icon" width="20" height="20">
            <use href="img/svg/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="menu-socials-item">
        <a
          class="menu-socials-link"
          href="https://www.facebook.com"
          aria-label="facebook"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="menu-socials-icon" width="20" height="20">
            <use href="img/svg/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="menu-socials-item">
        <a
          class="menu-socials-link"
          href="https://twitter.com"
          aria-label="twitter"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="menu-socials-icon" width="20" height="20">
            <use href="img/svg/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</div>
