<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="modal-close js-close-menu"></button>
  <p class="header-logo">
    MIMINO
    <span class="logo-txt">restaurant-hotel complex</span>
  </p>
  <ul class="mobile-menu">
    <li><a href="./index.html" class="link">Home</a></li>
    <li><a href="./hotel.html" class="link">Hotel</a></li>
    <li><a href="./restaurant.html" class="link">Restaurant</a></li>
    <li><a class="site-nav-link" href="./room.html">Room</a></li>
  </ul>
  <nav class="social">
    <ul class="social-items">
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.instagram.com"
          aria-label="instagram"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="social-icon">
            <use href="/img/svg/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.facebook.com"
          aria-label="facebook"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="social-icon">
            <use href="/img/svg/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://twitter.com"
          aria-label="twitter"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="social-icon">
            <use href="/img/svg/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</div>
