<div class="modal-book-table">
  <p></p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, dolorem
    minus. Vero eveniet cum minus unde nulla perspiciatis molestiae numquam
    odio, maiores voluptatem nemo optio atque architecto inventore voluptate! Ex
    tenetur nisi vero in similique aspernatur optio dolore suscipit labore harum
    modi odit, nam temporibus fugiat id consequatur, qui veniam ipsam impedit.
    Rem nemo sed, error nam quae neque? Beatae quidem tempora, quae cum in
    soluta rerum eveniet enim quisquam inventore maiores hic porro omnis harum
    ab nostrum quasi doloribus. Odio quis, iure velit incidunt cumque earum
    pariatur molestiae accusamus ipsa? Sit reprehenderit dolorem accusamus.
    Explicabo consectetur accusamus aliquid nam?
  </p>
</div>
