.restaurant-hero-container {
  padding-top: 40px;
  padding-bottom: 64px;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 768px) {
  .restaurant-hero-container {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1440px) {
    .restaurant-hero-container {
    padding-top: 204px;

  }
}
.restaurant-hero-title {
   font-weight: 400;
   margin-bottom: 40px;
   color: var(--main-dark-theme);
}
@media screen and (min-width: 768px) {
  .restaurant-hero-title {
    margin-bottom: 32px;
     font-size: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .restaurant-hero-title {
    font-size: 90px;
  }
}

.restaurant-hero-btn-list {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .restaurant-hero-btn-list {
    gap: 14px;
    margin-bottom: 46px;
  }
}
@media screen and (min-width: 1440px){
.rest-hero-wrapper{
 position: absolute;
 top: 30px;
  right: 0;
 width: 686px;
 height: 580px;
}
}
/* .restaurant-hero-img-list {
  position: relative;
  width: 250px;
  height: 100%;

  display: flex;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .restaurant-hero-img-list {
    width: 436px;
    gap: 32px;
  }
}
.restaurant-hero-list-img-item {
  position: absolute;
  right: calc(-100% - 12px);
  bottom: 0;
  width: 250px;
}
@media screen and (min-width: 768px) {
  .restaurant-hero-list-img-item {
    right: calc(-100% - 32px);
    width: 436px;
  }
} */

.rest-hero-text {
  margin-top: 40px;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.05em;

  color: var(--main-dark-theme);
}
@media screen and (min-width: 768px) {
  .rest-hero-text {
    width: 338px;
  }
}
@media screen and (min-width: 1440px){
   .rest-hero-text {
    margin-top: 204px;
    width: 338px;
  }
}
.rest-hero-text-italic {
  font-style: italic;
}
