<section class="amenities section">
  <div class="container">
    <h2 class="visually-hidden">Amenities and Facilities</h2>
    <ul class="amenities-list">
      <li class="amenities-item">
        <h3 class="amenities-title">General Amenities & Facilities:</h3>
        <ul class="amenities-inner-list">
          <li class="amenities-inner-item">24-hour front desk service</li>
          <li class="amenities-inner-item">Daily housekeeping</li>
          <li class="amenities-inner-item">Free Wi-Fi throughout the hotel</li>
          <li class="amenities-inner-item">Elevator access</li>
          <li class="amenities-inner-item">Luggage storage</li>
          <li class="amenities-inner-item">Non-smoking rooms available</li>
          <li class="amenities-inner-item">
            Meeting rooms for business and events
          </li>
          <li class="amenities-inner-item">On-site parking (surcharge)</li>
          <li class="amenities-inner-item">Concierge services</li>
        </ul>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-title">Bathroom:</h3>
        <ul class="amenities-inner-list">
          <li class="amenities-inner-item">Private bathroom with shower</li>
          <li class="amenities-inner-item">Complimentary toiletries</li>
          <li class="amenities-inner-item">Hair dryer</li>
          <li class="amenities-inner-item">Fresh towels daily</li>
          <li class="amenities-inner-item">
            Deluxe bathrobes (in some room categories)
          </li>
        </ul>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-title">Bedroom:</h3>
        <ul class="amenities-inner-list">
          <li class="amenities-inner-item">
            Comfortable beds with high-quality linens
          </li>
          <li class="amenities-inner-item">Blackout curtains</li>
          <li class="amenities-inner-item">
            Climate control (air conditioning and heating)
          </li>
          <li class="amenities-inner-item">Safe for valuables</li>
          <li class="amenities-inner-item">Writing desk and chair</li>
          <li class="amenities-inner-item">
            Flat-screen TV with cable channels
          </li>
        </ul>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-title">Kitchen:</h3>
        <ul class="amenities-inner-list">
          <li class="amenities-inner-item">
            In-room kitchenette (in some room categories)
          </li>
          <li class="amenities-inner-item">Refrigerator</li>
          <li class="amenities-inner-item">Microwave</li>
          <li class="amenities-inner-item">Electric kettle</li>
          <li class="amenities-inner-item">Cooking utensils and cutlery</li>
          <li class="amenities-inner-item">Dining table and chairs</li>
        </ul>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-title">Media:</h3>
        <ul class="amenities-inner-list">
          <li class="amenities-inner-item">
            Flat-screen TV with cable channels
          </li>
          <li class="amenities-inner-item">High-speed Wi-Fi</li>
          <li class="amenities-inner-item">iPod docking station</li>
          <li class="amenities-inner-item">Speaker system</li>
          <li class="amenities-inner-item">
            Electrical outlets for charging devices.
          </li>
        </ul>
      </li>
    </ul>
    <div class="amenities-wrapper">
      <div class="amenities-thumb">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              img/amenities/img-1_desk.jpg    1x,
              img/amenities/img-1_desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              img/amenities/img-1_tab.jpg    1x,
              img/amenities/img-1_tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              img/amenities/img-1_mob.jpg    1x,
              img/amenities/img-1_mob@2x.jpg 2x
            "
          />

          <img
            class="amenities-img"
            src="img/amenities/img-1_desk.jpg"
            alt=""
            width="496"
            height="636"
            loading="lazy"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              img/amenities/img-2_desk.jpg    1x,
              img/amenities/img-2_desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              img/amenities/img-2_tab.jpg    1x,
              img/amenities/img-2_tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              img/amenities/img-2_mob.jpg    1x,
              img/amenities/img-2_mob@2x.jpg 2x
            "
          />
          <img
            class="amenities-position-img"
            src="img/amenities/img-2_desk.jpg"
            alt=""
            width="439"
            height="219"
            loading="lazy"
          />
        </picture>
      </div>
      <button class="amenities-btn btn">book a room</button>
    </div>
  </div>
</section>
