<section class="hero-room">
  <div class="container hero-room-container">
    <div class="hero-room-top">
      <h1 class="hero-room-title">
        Double
        <span class="hero-room-cursive">luxury</span> room
      </h1>
      <button class="room-btn btn btn-dark">view prices</button>
      <p class="room-desc" data-visible="desktop">
        The Mimino hotel features spacious and stylish double luxury rooms with
        modern amenities for a comfortable stay.
      </p>
    </div>

    <div class="hero-room-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                img/room/slider/image-1_desk.jpg    1x,
                img/room/slider/image-1_desk@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                img/room/slider/image-1_mob.jpg    1x,
                img/room/slider/image-1_mob@2x.jpg 2x
              "
            />
            <img
              src="img/room/slider/image-1_desk.jpg"
              alt=""
              width="436"
              height="580"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                img/room/slider/image-2_desk.jpg    1x,
                img/room/slider/image-2_desk@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                img/room/slider/image-2_mob.jpg    1x,
                img/room/slider/image-2_mob@2x.jpg 2x
              "
            />
            <img
              src="img/room/slider/image-2_desk.jpg"
              alt=""
              width="436"
              height="580"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                img/room/slider/image-3_desk.jpg    1x,
                img/room/slider/image-3_desk@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                img/room/slider/image-3_mob.jpg    1x,
                img/room/slider/image-3_mob@2x.jpg 2x
              "
            />
            <img
              src="img/room/slider/image-3_desk.jpg"
              alt=""
              width="436"
              height="580"
            />
          </picture>
        </div>
      </div>

      <div class="hero-room-slider-controls">
        <button class="swiper-button-prev" type="button"></button>
        <button class="swiper-button-next" type="button"></button>
      </div>
    </div>

    <p class="room-desc" data-visible="notdesktop">
      The Mimino hotel features spacious and stylish double luxury rooms with
      modern amenities for a comfortable stay.
    </p>
  </div>
</section>
