<section class="section">
  <div class="container">
    <div class="four-room-list">
      <div class="four-room-item">
        <picture>
          <source
            srcset="
              ./img/hotel/4room/desktop/image2_lg@1x.jpg 1x,
              ./img/hotel/4room/desktop/image2_lg@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./img/hotel/4room/tablet/image2_lg@1x.jpg 1x,
              ./img/hotel/4room/tablet/image2_lg@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./img/hotel/4room/mobile/image2_sm@1x.jpg 1x,
              ./img/hotel/4room/mobile/image2_sm@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img src="./img/hotel/4room/mobile/image2_sm@1x.jpg 1x" alt="Bed" />
        </picture>
      </div>
      <div class="four-room-img-wrapper">
        <div class="four-room-item">
          <picture>
            <source
              srcset="
                ./img/hotel/4room/desktop/image3_lg@1x.jpg 1x,
                ./img/hotel/4room/desktop/image3_lg@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                ./img/hotel/4room/tablet/image3_lg@1x.jpg 1x,
                ./img/hotel/4room/tablet/image3_lg@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/hotel/4room/mobile/image3_sm@1x.jpg 1x,
                ./img/hotel/4room/mobile/image3_sm@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              src="./img/hotel/4room/mobile/image3_sm@1x.jpg 1x"
              alt="Bath"
            />
          </picture>
        </div>
        <div class="four-room-item">
          <picture>
            <source
              srcset="
                ./img/hotel/4room/desktop/image1_lg@1x.jpg 1x,
                ./img/hotel/4room/desktop/image1_lg@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                ./img/hotel/4room/tablet/image1_lg@1x.jpg 1x,
                ./img/hotel/4room/tablet/image1_lg@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/hotel/4room/mobile/image1_sm@1x.jpg 1x,
                ./img/hotel/4room/mobile/image1_sm@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              src="./img/hotel/4room/mobile/image1_sm@1x.jpg 1x"
              alt="Kitchen"
            />
          </picture>
        </div>
      </div>
    </div>

    <h2 class="four-room-title title">four-seater room</h2>
    <p class="four-room-paragraph paragraph">
      Our 4-person room is perfect for small groups, offering comfort and
      convenience with 4 comfortable beds, ample storage, flat-screen TV,
      mini-fridge, coffee maker, desk and chair, air-conditioning, heating, and
      soundproof walls. Book now for a memorable stay.
    </p>
    <ul class="four-room-btn-list">
      <li>
        <button type="button" class="four-room-btn btn-dark btn">
          More details
        </button>
      </li>
      <li>
        <button type="button" class="four-room-btn btn-dark btn">
          View prices
        </button>
      </li>
    </ul>
  </div>
</section>
