<section class="section">
    <div class="container">
        <div class="hotel-triple-room-picture">    
                <picture class="item">
                    <source media="(min-width: 1440px)" 
                    srcset="./img/hotel/3room/desktop/image2_lg@1x.jpg,
                            ./img/hotel/3room/desktop/image2_lg@2x.jpg">
                    <source media="(min-width: 768px)" 
                    srcset="./img/hotel/3room/tablet/image2_md@1x.jpg,
                            ./img/hotel/3room/tablet/image2_md@2x.jpg 662w">
                    <source media="(min-width: 375px)" 
                    srcset="./img/hotel/3room/mobile/image2_sm@1x.jpg 335w,
                            ./img/hotel/3room/mobile/image2_sm@2x.jpg">
                    <img                  
                        class="triple-room-one"
                        src="./img/hotel/3room/desktop/image2_lg@2x.jpg 1078w" alt="bedroom photo" 
                        width="539"
                        height="762"
                        loading="lazy">
                </picture>
                <picture class="item">
                    <source media="(min-width: 1440px)" 
                    srcset="./img/hotel/3room/desktop/image3_lg@1x.jpg,
                            ./img/hotel/3room/desktop/image3_lg@2x.jpg">
                    <source media="(min-width: 768px)" 
                    srcset="./img/hotel/3room/tablet/image3_md@1x.jpg,
                            ./img/hotel/3room/tablet/image3_md@2x.jpg 662w">
                    <source media="(min-width: 375px)" 
                    srcset="./img/hotel/3room/mobile/image3_sm@1x.jpg 335w,
                            ./img/hotel/3room/mobile/image3_sm@2x.jpg">
                    <img                  
                        class="triple-room-one"
                        src="./img/hotel/3room/desktop/image3_lg@2x.jpg 1078w" alt="bathroom photo" 
                        width="387"
                        height="510"
                        loading="lazy">
                </picture>
                <picture class="item">
                    <source media="(min-width: 1440px)" 
                    srcset="./img/hotel/3room/desktop/image1_lg@1x.jpg,
                            ./img/hotel/3room/desktop/image1_lg@2x.jpg">
                    <source media="(min-width: 768px)" 
                    srcset="./img/hotel/3room/tablet/image1_md@1x.jpg,
                            ./img/hotel/3room/tablet/image1_md@2x.jpg 662w">
                    <source media="(min-width: 375px)" 
                    srcset="./img/hotel/3room/mobile/image1_sm@1x.jpg 335w,
                            ./img/hotel/3room/mobile/image1_sm@2x.jpg">
                    <img                  
                        class="triple-room-one"
                        src="./img/hotel/3room/desktop/image1_lg@2x.jpg 1078w" alt="bathroom photo" 
                        width="387"
                        height="510"
                        loading="lazy">
                </picture>
        </div>
        <div class="hotel-triple-room-description">
            <div class="hotel-triple-room-desktop">
                <h2 class="hotel-triple-room-name title">Triple room</h2>
                <div class="hotel-triple-room">
                    <p class="paragraph">Escape to our spacious Triple Room, perfect for families or groups. Enjoy comfort with three beds, seating area, stunning views, flat-screen TVs, Wi-Fi, and mini-fridge.</p>
                    <p class="paragraph">Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book now for a memorable stay.</p>
                </div>
            </div>
            <ul class="hotel-triple-room-btn">
                <li>
                    <button class="btn btn-dark" type="button">More details</button>
                </li>
                <li>
                    <button class="btn btn-dark" type="button">View prices</button>
                </li>
            </ul>
        </div>  
    </div>
</section>