<section class="section">
    <div class="container">
        <div class="hotel-triple-room-picture">
            <div class="item">
                <img 
                
                srcset="./img/hotel/3room/mobile/image2_sm@1x.jpg 335w,
                        ./img/hotel/3room/tablet/image2_md@1x.jpg 331w,
                        ./img/hotel/3room/desktop/image2_lg@1x.jpg 539w,
                        ./img/hotel/3room/mobile/image2_sm@2x.jpg 670w,
                        ./img/hotel/3room/tablet/image2_md@2x.jpg 662w,
                        ./img/hotel/3room/desktop/image2_lg@2x.jpg 1078w"

                sizes="(min-width: 1440px) 539px, (min-width: 768px) 331px, (min-width: 375px) 335px, 100vw"
                class="triple-room-one"
                src="./img/hotel/3room/desktop/image2_lg@2x.jpg 1078w" alt="kitchen photo" 
                width="534">
            </div>
            <div class="item">
                <img 
                srcset="./img/hotel/3room/mobile/image3_sm@1x.jpg 335w,
                        ./img/hotel/3room/tablet/image3_md@1x.jpg 331w,
                        ./img/hotel/3room/desktop/image3_lg@1x.jpg 539w,
                        ./img/hotel/3room/mobile/image3_sm@2x.jpg 670w,
                        ./img/hotel/3room/tablet/image3_md@2x.jpg 662w,
                        ./img/hotel/3room/desktop/image3_lg@2x.jpg 1078w"

                sizes="(min-width: 1440px) 539px, (min-width: 768px) 331px, (min-width: 375px) 335px, 100vw"
                class="triple-room-two"
                src="./img/hotel/3room/desktop/image3_lg@2x.jpg" alt="bedroom photo"
                width="387"
                >
            </div>
            <div class="item">
                <img 
                srcset="./img/hotel/3room/mobile/image1_sm@1x.jpg 335w,
                ./img/hotel/3room/tablet/image1_md@1x.jpg 331w,
                ./img/hotel/3room/desktop/image1_lg@1x.jpg 539w,
                ./img/hotel/3room/mobile/image1_sm@2x.jpg 670w,
                ./img/hotel/3room/tablet/image1_md@2x.jpg 662w,
                ./img/hotel/3room/desktop/image1_lg@2x.jpg 1078w"
                class="triple-room-three"
        sizes="(min-width: 1440px) 539px, (min-width: 768px) 331px, (min-width: 375px) 335px, 100vw"
                
                
                src="./img/hotel/3room/desktop/image1_lg@2x.jpg" alt="bathroom photo"
                width="387">
            </div>       
        </div>
        <div class="hotel-triple-room-description">
            <div class="hotel-triple-room-desktop">
                <h2 class="hotel-triple-room-name title">Triple room</h2>
                <div class="hotel-triple-room">
                    <p class="paragraph">Escape to our spacious Triple Room, perfect for families or groups. Enjoy comfort with three beds, seating area, stunning views, flat-screen TVs, Wi-Fi, and mini-fridge.</p>
                    <p class="paragraph">Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book now for a memorable stay.</p>
                </div>
            </div>
            <ul class="hotel-triple-room-btn">
                <li>
                    <button class="btn btn-dark" type="button">More details</button>
                </li>
                <li>
                    <button class="btn btn-dark" type="button">View prices</button>
                </li>
            </ul>
        </div>  
    </div>
</section>