.hero-room {
  max-width: 375px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 64px;
}

@media only screen and (min-width: 768px) {
  .hero-room {
    max-width: 768px;
    padding-bottom: 120px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-room {
    max-width: 1440px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-room-container {
    display: flex;
  }
}
.hero-room-top {
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .hero-room-top {
    margin-bottom: 28px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-room-top {
    width: 592px;
    margin-bottom: 0;
    margin-top: 139px;
  }
}

.hero-room-title {
  width: 270px;
  font-weight: 400;
  font-size: 40px;
  line-height: calc(40 / 40);
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #121212;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .hero-room-title {
    width: 406px;
    margin-bottom: 18px;
    font-size: 60px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-room-title {
    width: 592px;
    margin-bottom: 32px;
    font-size: 80px;
  }
}
.hero-room-cursive {
  font-style: italic;
}

.hero-room-slider {
  width: 520px;
  height: 429px;
  flex-shrink: 0;

  background-color: #e2e2e2;
}
@media only screen and (min-width: 768px) {
  .hero-room-slider {
    width: 904px;
    height: 548px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-room-slider {
    height: 580px;
    margin-left: 112px;
  }
}
.room-desc {
  margin-top: 40px;
  max-width: 289px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
@media only screen and (max-width: 1439px) {
  .room-desc[data-visible='desktop'] {
    display: none;
  }
}
@media only screen and (min-width: 1440px) {
  .room-desc[data-visible='notdesktop'] {
    display: none;
  }
}
@media only screen and (min-width: 1440px) {
  .room-desc {
    margin-top: 169px;
  }
}
