.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  height: 1px;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  width: 1px;
  overflow: hidden;
}

.section {
  outline: 1px solid grey;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  outline: 1px solid red;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 319px) {
    .section {
      min-width: 319px;  
    }
    .container {
        width: 100%;
    }  
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .container {
        min-width: 320px;
        max-width: 374px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .container {
        width: 375px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .container {
      width: 768px;
    }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

.btn {
  padding: 8px 24px;
  border-radius: 32px;
  background-color: transparent;
  border: 0.8px solid var(--main-light-theme);
  color: var(--main-light-theme);
  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  background-color: var(--main-white-color);
  color: var(--main-dark-theme);
}
