:root {
  --main-dark-theme: #121212;
  --main-light-theme: #f7f7f7;
  --main-white-color: #ffffff;
  /* D8D7D7 50% opacity */
  --main-dark-grey: rgba(216, 215, 215, 0.5);
  --main-subtitle-color: #484848;

  --font-medium-500: 500;
  --font-bold-700: 700;
  --transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 1.286;

  color: var(--main-dark-theme);
  background-color: var(--main-light-theme);
}
