<!-- About complex -->
<section class="about-section section">
  <div class="about-container container">
    <h2 class="visually-hidden">About a complex</h2>
    <div class="about-up-side">
      <div class="about-img-up">
        <ul class="about-img-list">
          <li class="about-img-item">
            <picture>
              <source
                srcset="
                  ./img/home/about/desktop/image1_lg@1x.jpg 1x,
                  ./img/home/about/desktop/image1_lg@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />

              <source
                srcset="
                  ./img/home/about/tablet/image1_md@1x.jpg 1x,
                  ./img/home/about/tablet/image1_md@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./img/home/about/mobile/image1_sm@1x.jpg 1x,
                  ./img/home/about/mobile/image1_sm@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <img
                class="about-image"
                src="./img/home/about/mobile/image1_sm@1x.jpg"
                alt="Hall"
              />
            </picture>
          </li>
          <li class="about-img-item">
            <picture>
              <source
                srcset="
                  ./img/home/about/desktop/image2_lg@1x.jpg 1x,
                  ./img/home/about/desktop/image2_lg@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />

              <source
                srcset="
                  ./img/home/about/tablet/image2_md@1x.jpg 1x,
                  ./img/home/about/tablet/image2_md@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./img/home/about/mobile/image2_sm@1x.jpg 1x,
                  ./img/home/about/mobile/image2_sm@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <img
                class="about-image"
                src="./img/home/about/mobile/image2_sm@1x.jpg"
                alt="Bath"
              />
            </picture>
          </li>
        </ul>
        <div class="about-rewiev">
          <img
            srcset="./img/customer/custom-w@2x.png 2x"
            src="./img/customer/custom-w@1x.png"
            alt="Maria"
            width="41"
            height="41"
          />
          <div class="about-rewiev-descr">
          <p class="about-cust-name">Maria</p>
          <p class="about-rating">give rating <span class="about-number">4.5</span></p>
          </div>
        </div>
      </div>
      <div class="about-descr">
        <h3 class="about-subtitle">restaurant-hotel complex</h3>
        <p class="about-paragraph paragraph">
          Indulge in a taste of luxury with every bite at Hotel Mimino. From the
          freshest seafood to the most succulent steaks, every dish is crafted
          with care to ensure that you enjoy a truly memorable dining
          experience.
        </p>
        <p class="about-paragraph paragraph">
          Treat yourself to a taste of the good life and come dine with us
          today!
        </p>
      </div>
    </div>
    <div class="about-bottom-side">
      <picture class="about-pic">
        <source
          srcset="
            ./img/home/about/desktop/image3_lg@1x.jpg 1x,
            ./img/home/about/desktop/image3_lg@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />

        <source
          srcset="
            ./img/home/about/tablet/image3_md@1x.jpg 1x,
            ./img/home/about/tablet/image3_md@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./img/home/about/mobile/image3_sm@1x.jpg 1x,
            ./img/home/about/mobile/image3_sm@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          class="about-image"
          src="./img/home/about/mobile/image3_sm@1x.jpg"
          alt="Table"
        />
      </picture>

      <div class="about-business-container">
      <picture>
        <source
          srcset="
            ./img/home/about/desktop/image4_lg@1x.jpg 1x,
            ./img/home/about/desktop/image4_lg@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />

        <source
          srcset="
            ./img/home/about/tablet/image4_md@1x.jpg 1x,
            ./img/home/about/tablet/image4_md@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./img/home/about/mobile/image4_sm@1x.jpg 1x,
            ./img/home/about/mobile/image4_sm@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          class="about-image"
          src="./img/home/about/mobile/image4_sm@1x.jpg"
          alt="Restaurant"
        />
      </picture>
      <div class="about-business-descr">
      <h3 class="about-subtitle">business class hotel</h3>
      <p class="about-paragraph paragraph">
        The Mimino hotel features spacious and stylish double luxury rooms with
        modern amenities for a comfortable stay.
      </p>
      </div>
      </div>
      
      <div class="about-rewiev">
        <img
          srcset="./img/customer/custom-m@2x.png 2x"
          src="./img/customer/custom-m@1x.png"
          alt="Alexander"
          width="41"
          height="41"
        />
        <div class="about-rewiev-descr">
        <p class="about-cust-name">Alexander</p>
        <p class="about-rating">give rating <span class="about-number">5.5</span></p>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>

