<!-- About complex -->
<section class="about-section section">
  <div class="about-container container">
    <h2 class="visually-hidden">About a complex</h2>
    <div class="about-up-side">
      <div class="about-img-up">
        <ul>
          <li>
            <picture>
              <source
                srcset="
                  ../img/home/about/img1_lg@1x.jpg 1x,
                  ../img/home/about/img1_lg@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />

              <source
                srcset="
                  ../img/home/about/img1_md@1x.jpg 1x,
                  ../img/home/about/img1_md@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ../img/home/about/img1_sm@1x.jpg 1x,
                  ../img/home/about/img1_sm@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <img
                class="about-image"
                src="../img/home/about/img1_sm@1x.jpg"
                alt="Hall"
              />
            </picture>
          </li>
          <li>
            <picture>
              <source
                srcset="
                  ../img/home/about/img2_lg@1x.jpg 1x,
                  ../img/home/about/img2_lg@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />

              <source
                srcset="
                  ../img/home/about/img2_md@1x.jpg 1x,
                  ../img/home/about/img2_md@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ../img/home/about/img2_sm@1x.jpg 1x,
                  ../img/home/about/img2_sm@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <img
                class="about-image"
                src="../img/home/about/img2_sm@1x.jpg"
                alt="Hall"
              />
            </picture>
          </li>
        </ul>
        <div class="about-rewiev">
          <img
            srcset="./images/team1@2x.jpg 2x"
            src="./images/team1.jpg"
            alt="Maria"
            width="41"
            height="41"
          />
          <p class="about-cust-name">Maria</p>
          <p class="about-rating">give rating <span>4.5</span></p>
        </div>
      </div>
      <div class="about-descr">
        <h3 class="about-subtitle">restaurant-hotel complex</h3>
        <p>
          Indulge in a taste of luxury with every bite at Hotel Mimino. From the
          freshest seafood to the most succulent steaks, every dish is crafted
          with care to ensure that you enjoy a truly memorable dining
          experience.
        </p>
        <p>
          Treat yourself to a taste of the good life and come dine with us
          today!
        </p>
      </div>
    </div>
    <div class="about-bottom-side">
      <picture>
        <source
          srcset="
            ../img/home/about/img3_lg@1x.jpg 1x,
            ../img/home/about/img3_lg@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />

        <source
          srcset="
            ../img/home/about/img3_md@1x.jpg 1x,
            ../img/home/about/img3_md@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ../img/home/about/img3_sm@1x.jpg 1x,
            ../img/home/about/img3_sm@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          class="about-image"
          src="../img/home/about/img3_sm@1x.jpg"
          alt="Hall"
        />
      </picture>

      <picture>
        <source
          srcset="
            ../img/home/about/img4_lg@1x.jpg 1x,
            ../img/home/about/img4_lg@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />

        <source
          srcset="
            ../img/home/about/img4_md@1x.jpg 1x,
            ../img/home/about/img4_md@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ../img/home/about/img4_sm@1x.jpg 1x,
            ../img/home/about/img4_sm@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          class="about-image"
          src="../img/home/about/img4_sm@1x.jpg"
          alt="Hall"
        />
      </picture>
      <h3 class="about-subtitle">business class hotel</h3>
      <p>
        The Mimino hotel features spacious and stylish double luxury rooms with
        modern amenities for a comfortable stay.
      </p>
      <div class="about-rewiev">
        <img
          srcset="./images/team1@2x.jpg 2x"
          src="./images/team1.jpg"
          alt="Alexander"
          width="41"
          height="41"
        />
        <p class="about-cust-name">Alexander</p>
        <p class="about-rating">give rating <span>5.5</span></p>
      </div>
    </div>
  </div>
</section>
