<section class="section hero-section">
  <div class="container hero-container">
    <h1 class="title__hero-main">Mimino</h1>
    <div class="buttons__hero"></div>
      <button class="btn" type="button">book a room</button>
      <button class="btn" type="button">book a table</button>
    </div>
    <ul>
      <li class="text_hero-main">Whether you're in the mood for a hearty breakfast, a light lunch, or a romantic dinner, our menu has something for everyone.</li>
      <li class="text_hero-main">At Hotel Mimino, we believe that great food should be available to everyone, no matter the time of day.</li>
    </ul>
  </div>
</section>

