<section class="section hero-section">
  <div class="container hero-container">
    <div class="hero-img">
      <h1 class="title-hero">Mimino</h1>
    </div>
    <div class="btns-hero">
      <button class="btn" type="button">book a room</button>
      <button class="btn js-open-modal" data-modal="1" type="button">
        book a table
      </button>
    </div>
    <ul class="description-hero">
      <li class="text-hero text">
        Whether you're in the mood for a hearty breakfast, a light lunch, or a
        <span class="text-italic">romantic dinner,</span> our menu has something
        for everyone.
      </li>
      <li class="text-hero">
        At Hotel Mimino, <span class="text-italic">we believe</span> that great
        food should be available to everyone, no matter the time of day.
      </li>
    </ul>
  </div>
</section>
