
<section class="section hotel-details-section">
    <div class="container hotel-details-container">
        <div class="hotel-detaild-description">
            <h2 class="title-hotel-details">Hotel</h2>
            <p class="text-hotel-details">Book your stay with us now and experience the epitome of comfort and 
                luxury at our hotel. We guarantee you'll be thrilled with your decision.</p>
        </div>
            <!-- <div class="images-hotel-details"> -->
            <ul class="list images-hotel-details-list">
                <li class="hotel-photo">
                    <img 
                        srcset="
                            ./img/home/hotel/mobile/image_sm@1x.jpg 1x,
                            ./img/home/hotel/mobile/image_sm@2x.jpg 2x,
                        "
                        src="./img/home/hotel/mobile/image_sm@1x.jpg" alt="hotel-image">
                </li>
                <li>
                    <img 
                        srcset="
                            ./img/home/hotel/mobile/image_sm@1x-1.jpg 1x,
                            ./img/home/hotel/mobile/image_sm@2x-1.jpg 2x,
                        "
                        src="./img/home/hotel/mobile/image_sm@1x-1.jpg" alt="hotel-image">
                </li>
                <li>
                    <img 
                        srcset="
                            ./img/home/hotel/mobile/image_sm@1x-2.jpg 1x,
                            ./img/home/hotel/mobile/image_sm@2x-2.jpg 2x,
                        "
                        src="./img/home/hotel/mobile/image_sm@1x-2.jpg" alt="hotel-image">
                </li>
            </ul>
        <!-- </div> -->
        <div class="btns-hotel-details">
            <button class="btn" type="button">Book a room</button>
            <button class="btn" type="button">View room</button>
        </div>
    </div>  
</section>

