<section class="section hotel-details-section">
    <div class="container hotel-details-container">
        <h2 class="title-hotel-details">Hotel</h2>
        <p class="text-hotel-details">Book your stay with us now and experience the epitome of comfort and 
            luxury at our hotel. We guarantee you'll be thrilled with your decision.</p>
        <!-- <div class="images-hotel-details"> -->
            <ul class="list images-hotel-details-list">
                <li>
                    <img src="" alt="">
                </li>
                <li>
                    <img src="" alt="">
                </li>
                <li>
                    <img src="" alt="">
                </li>
                <li>
                    <img src="" alt="">
                </li>
                <li>
                    <img src="" alt="">
                </li>
            </ul>
        <!-- </div> -->
        <div class="btns-hotel-details">
            <button class="btn" type="button">Book a room</button>
            <button class="btn" type="button">View room</button>
        </div>
    </div>  
</section>