<section class="container section-location">
  <div class="location-frame">
    <div class="location">
      <h2 class="location-header">Location</h2>
      <div class="location-contact-all">
        <div class="location-contact-adress">      
          <p>Ukraine, Poltava,</p>
          <p>St. Marshal Biryuzov, 15</p>
        </div>  
        <div class="location-contacts">
          <p class="location-contact-list">Call us:</p>
            <ul class="location-contact-list-phone">
            
              <li>
                <a href="tel:+0955559533">(095) 555 95 33</a>
               </li>
               <li>
                 <a href="tel:+0668491089">(066) 849 10 89</a>
               </li>
            
          </ul>
          </div>
      </div>

    </div>  
    <div class="location-adress">
      
      <a href="https://goo.gl/maps/9Qxj5B4kwW7pe2hh8" target="_blank" class="location">
        <img  
        srcset="./img/home/location/map_sm@1x.png 335w,
        ./img/home/location/map_md@1x.png 704w,
        ./img/home/location/map_lg@1x.png 640w,
        ./img/home/location/map_sm@2x.png 670w,
        ./img/home/location/map_md@2x.png 1408w,
        ./img/home/location/map_lg@2x.png 1280w"
        sizes="(min-width: 1440px) 640px, (min-width: 768px) 704px, (min-width: 375px) 335px, 100vw"
        class="location-map"
        src="./img/home/location/map_sm@1x.png"
        alt="map_image"
        width="704"
        height="576"
        >
      </a>
    </div>
  </div>


  </section>