<section class="section">
  <div class="container">
    <h2 class="title restaurant-title">restaurant</h2>
    <p class="paragraph restaurant-paragraph">
      Relax and unwind with our delicious offerings, available any time of day.
    </p>

    <div #swiperRef="" class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./img/home/restaurant/mobile/image1_sm@1x.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="./img/home/restaurant/mobile/image2_sm@1x.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="./img/home/restaurant/mobile/image3_sm@1x.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="./img/home/restaurant/mobile/image4_sm@1x.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="./img/home/restaurant/mobile/image5_sm@1x.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="./img/home/restaurant/mobile/image6_sm@1x.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="./img/home/restaurant/mobile/image7_sm@1x.jpg" />
        </div>
      </div>
      <div class="swiper-btn">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>

    <div class="btn-thumb">
      <button class="btn btn-dark" type="button">book a table</button>
      <button class="btn btn-dark" type="button">View the menu</button>
    </div>
  </div>
</section>
