<section class="section">
    <div class="container welcome">
        <div>
            <h2 class="title welcome-title">Welcome to the epitome of <I>luxury</I> and <i>comfort</i></h2>
        </div>
        <div class="about-hotel">
            <p>Our hotel rooms are elegantly designed with an eye for detail, ensuring that you have everything you need
                for
                a relaxing and rejuvenating stay.</p>
        </div>
        <div class="about-room">
            <p>Each room is equipped with the latest amenities, including plush bedding, high-speed Wi-Fi, flat-screen
                TVs,
                and a coffee maker to help you start your day right. Our spacious bathrooms feature luxurious toiletries
                and
                towels, so you can pamper yourself in complete privacy.
                Each room is equipped with the latest amenities, including plush bedding, high-speed Wi-Fi, flat-screen
                TVs,
                and a coffee maker to help you start your day right. Our spacious bathrooms feature luxurious toiletries
                and
                towels, so you can pamper yourself in complete privacy.</p>
        </div>
        <picture class="welcome-pic">

            <source srcset="../img/home/welcome/image_lg@1x.jpg 1x, ../img/home/welcome/image_lg@2x.jpg 2x" media="(min-width: 1440px)"  />
            <source srcset="../img/home/welcome/image_md@1x.jpg 1x, ../img/home/welcome/image_md@2x.jpg 2x" media="(min-width: 768px)" />
            <source srcset="../img/home/welcome/image_sm@1x.jpg 1x, ../img/home/welcome/image_sm@2x.jpg 2x" media="(max-width: 768px)" />
            <img class="" src="../img/home/welcome/image_sm@1x.jpg" alt="welcome_hotel" width="335" height="432">

        </picture>
        </div>
        
        </section>