<section>
    <h2 class="">Welcome to the epitome of luxury and comfort</h2>
    <div>
        <p>Our hotel rooms are elegantly designed with an eye for detail, ensuring that you have everything you need for
            a relaxing and rejuvenating stay.</p>
    </div>
    <div>
        <p>Each room is equipped with the latest amenities, including plush bedding, high-speed Wi-Fi, flat-screen TVs,
            and a coffee maker to help you start your day right. Our spacious bathrooms feature luxurious toiletries and
            towels, so you can pamper yourself in complete privacy.
            Each room is equipped with the latest amenities, including plush bedding, high-speed Wi-Fi, flat-screen TVs,
            and a coffee maker to help you start your day right. Our spacious bathrooms feature luxurious toiletries and
            towels, so you can pamper yourself in complete privacy.</p>
    </div>
    <picture>
        <source srcset="./img/home/welcome/image_sm@1x.jpg 1x, ./img/home/welcome/image_sm@2x.jpg 2x" type="img/jpg" />
        <img class="" src="./img/home/welcome/image_sm@1x.jpg" alt="welcome_hotel" width="335" height="432">
    </picture>
</section>