<section class="section">
    <div class="container welcome-hotel">
        <div class="welcome">
           
                <h2 class="title welcome-title">Welcome to the epitome of <I>luxury</I> and <i>comfort</i></h2>
            
            <div class="welcome-text">
                
                    <p class="about-hotel">Our hotel rooms are elegantly designed with an eye for detail, ensuring that you have everything you need
                        for
                        a relaxing and rejuvenating stay.</p>
                
              
                    <p class="about-room">Each room is equipped with the latest amenities, including plush bedding, high-speed Wi-Fi, flat-screen
                        TVs,
                        and a coffee maker to help you start your day right. Our spacious bathrooms feature luxurious toiletries
                        and
                        towels, so you can pamper yourself in complete privacy.
                        Each room is equipped with the latest amenities, including plush bedding, high-speed Wi-Fi, flat-screen
                        TVs,
                        and a coffee maker to help you start your day right. Our spacious bathrooms feature luxurious toiletries
                        and
                        towels, so you can pamper yourself in complete privacy.</p>
                
            </div>
            
        </div>
            <picture class="about-pic">
                <source srcset="
                    ./img/home/welcome/image_lg@1x.jpg 1x,
                    ./img/home/welcome/image_lg@2x.jpg 2x
                  " media="(min-width: 1440px)" />
    
                <source srcset="
                    ./img/home/welcome/image_md@1x.jpg 1x,
                    ./img/home/welcome/image_md@2x.jpg 2x
                  " media="(min-width: 768px)" />
    
                <source srcset="
                    ./img/home/welcome/image_sm@1x.jpg 1x,
                    ./img/home/welcome/image_sm@2x.jpg 2x
                  " media="(max-width: 767px)" />
    
                <img class="about-image" src="./img/home/welcome/image_sm@1x.jpg" alt="welcome-hotel" />
            </picture>
    </div>
</section>